
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
*/

.table_style, #add_course_table{
	background-color: transparent;
	width: 80%;
	height: 100%;
	margin: auto;

	border: none;
	border-radius: 1pc;


}
body {
	/*
	background-image: linear-gradient(to right, #9c2b3b , #2482ad);
	 */
	background-color: azure;
}
td{
	border: none;
}
th{
	border: none;
}

/*
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #2482ad !important;
	border-color: #2482ad;
}

 */